[user]
	name =  Juntao Liu
	email = jinuljt@gmail.com

[alias]
	ci = commit
    pr = pull --rebase
    br = branch
	st = status
    co = checkout
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	lgp = log -p --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --


[push]
	config = default
	default = tracking

[pull]
   rebase = true

[core]
	excludesfile = ~/.gitignore
	editor = vim

[color]
   diff = auto
   status = auto
   branch = auto
   interactive = auto
   ui = true

[branch]
   autosetuprebase = always
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true

[url "git@github.com:"]
    pushInsteadOf = https://github.com/
