[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/chrishunt/oh-my-zsh

    
[submodule ".emacs.d/plugins/yasnippet"]
	path = plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule ".emacs.d/plugins/org-mode"]
	path = .emacs.d/plugins/org-mode
	url = git://orgmode.org/org-mode.git
